* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.App {
  .navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7vh;
    background-color: beige;
    .logo {
      font-size: 22px;
      .fas {
        margin-right: 5px;
      }
    }
    .menu {
      display: flex;
      .link {
        color: inherit;
        text-decoration: none;
        margin-right: 15px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .cart {
        position: relative;
        .total_quantity {
          position: absolute;
          right: -12px;
          top: -8px;
          background-color: crimson;
          color: white;
          font-size: 12px;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .nav_right {
      display: flex;
      align-items: center;
      .currentUser {
        background-color: rgb(76, 76, 230);
        border-radius: 50%;
        color: white;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-right: 15px;
        text-decoration: none;
        cursor: pointer;
      }
      .link {
        color: inherit;
        text-decoration: none;
        margin-right: 15px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .home {
    .header {
      height: 93vh;
      background: url(../image/pizza_header.jpg) no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .header_text {
        margin-right: 30px;
        width: 40%;
        color: white;
        text-align: center;
        .header_title {
          font-size: 55px;
          font-family: "Nothing You Could Do", cursive;
        }
        .header_Second_title {
          font-size: 45px;
          font-family: "Nothing You Could Do", cursive;
        }
        .header_order,
        .header_number {
          font-size: 22px;
        }
      }
    }
    .products {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 93vh;
      background: url(../image/pizza_background.jpg) repeat;
      .products_wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        margin: 10px 0px;
        .food {
          display: flex;
          flex-direction: column;
          margin: 5px;
          padding: 10px;

          background-color: brown;
          color: white;
          img {
            width: 300px;
            height: 200px;
          }
          .stars {
            padding: 5px 0px;
            i {
              color: yellow;
              font-size: 20px;
            }
          }
          .food_name {
            font-weight: 200;
            text-align: center;
            padding: 10px 0px;
          }
          .event {
            display: flex;
            justify-content: space-between;
            button {
              background-color: beige;
              color: white;
              border: none;
              padding: 5px 10px;

              color: brown;
              cursor: pointer;
              &:hover {
                background-color: khaki;
              }
            }
            .food_price {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .cart {
    display: flex;
    .cart_items {
      flex: 9;
      min-height: 86vh;
      padding: 10px;
      .empty_cart {
        text-align: center;
        padding: 100px 0px;
        color: gray;
        i {
          font-size: 80px;
        }
        .empty_cart_text {
          font-size: 30px;
        }
      }
      .cart_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid gray;
        margin-bottom: 5px;
        .item_img {
          width: 200px;
        }
        .item_name {
          font-size: 20px;
          width: 20%;
        }
        .item_price {
          font-size: 22px;
          width: 10%;
        }
        .quantity {
          display: flex;
          flex-direction: column;
          align-items: center;
          i {
            cursor: pointer;
          }
        }
        .delete {
          background-color: crimson;
          border: none;
          padding: 5px 10px;
          color: white;
          cursor: pointer;
          &:hover {
            background-color: rgb(219, 9, 9);
          }
        }
      }
    }
    .cart_total {
      flex: 3;
      padding: 0px 10px;
      .total_title {
        text-align: center;
        font-weight: 200;
      }
      .total_info {
        background-color: crimson;
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        .delete_all {
          align-self: flex-end;
          background-color: whitesmoke;
          font-size: 14px;
          padding: 5px;
          cursor: pointer;
          &:hover {
            background-color: white;
          }
        }
        .total_products {
          color: white;
          font-size: 18px;
          margin-top: 100px;
          span {
            font-size: 22px;
          }
        }
        .total_price {
          font-size: 18px;
          color: white;
          margin-bottom: 20px;
          span {
            font-size: 22px;
          }
        }
        .order_btn {
          width: 100%;
          font-size: 20px;
          padding: 5px;
          border: none;
          cursor: pointer;
          &:hover {
            background-color: white;
          }
        }
      }
    }
  }
  .user {
    min-height: 86vh;
    background: url(../image/pizza_background.jpg) repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .user_container {
      width: 400px;
      min-height: 400px;
      background-color: #e8d3b9;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        text-align: center;
        padding: 10px 0px;
        font-weight: 200;
      }
      .user_content {
        .field {
          border-bottom: 1px solid gray;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          .button {
            width: 100%;
            font-size: 17px;
            border: none;
            background-color: orange;
            color: white;
            text-align: center;
            padding: 5px 0px;
            cursor: pointer;
            text-decoration: none;
            &:hover {
              background-color: rgb(245, 186, 78);
            }
          }
        }
        .btn_field {
          border-bottom: none;
        }
      }
    }
  }
  .user_update {
    min-height: 86vh;
    background: url(../image/pizza_background.jpg) repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      width: 400px;
      min-height: 400px;
      background-color: #e8d3b9;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        text-align: center;
        padding: 10px 0px;
        font-weight: 200;
      }
      .update_content {
        div {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid gray;
            font-size: 16px;
            &:focus {
              outline: none;
            }
          }
          button {
            border: none;
            padding: 5px 0px;
            background-color: orange;
            cursor: pointer;
            color: white;
            font-size: 17px;
          }
        }
        .error {
          color: red;
          margin-top: 0px;
        }
        .btn {
          border-bottom: none;
        }
        .success_message {
          text-align: center;
          color: green;
          margin-top: 0px;
        }
      }
    }
  }
  .login,
  .signup {
    min-height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../image/pizza_background.jpg) repeat;
    form {
      padding: 20px;
      width: 400px;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #e8d3b9;
      h2 {
        text-align: center;
        padding: 10px 0px;
        font-weight: 200;
        color: brown;
      }
      .login_content,
      .signup_content {
        display: flex;
        flex-direction: column;
        input {
          width: 100%;
          margin-top: 20px;
          padding: 10px 0px;
          border: none;
          border-bottom: 2px solid brown;
          font-size: 18px;
          background-color: transparent;
          &:focus {
            outline: none;
          }
        }
        .error {
          color: red;
          font-size: 14px;
        }
        .pass {
          position: relative;
          .far {
            position: absolute;
            top: 30px;
            right: 20px;
            font-size: 27px;
            color: gray;
            cursor: pointer;
          }
        }
        button {
          margin-top: 20px;
          font-size: 18px;
          padding: 10px 0px;
          border: none;
          cursor: pointer;
          background-color: brown;
          color: white;
          &:hover {
            background-color: rgb(167, 76, 76);
          }
        }
        .error_message {
          color: brown;
          text-align: center;
        }
        .success_message {
          color: green;
          text-align: center;
        }
      }
    }
  }
  .admin {
    display: flex;
    min-height: 86vh;
    .aside_menu {
      flex: 3;
      display: flex;
      flex-direction: column;
      background-color: whitesmoke;
      .link {
        color: inherit;
        text-align: center;
        text-decoration: none;
        border-bottom: 1px solid lightgray;
        padding: 15px 0px;
        font-size: 18px;
        &:hover {
          background-color: rgb(224, 224, 224);
        }
      }
    }
    .all_products {
      flex: 9;
      padding: 20px;
      .title {
        text-align: center;
        font-weight: 200;
        padding: 10px 0px;
      }
      .product {
        border-bottom: 1px solid lightgray;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .product_img {
          width: 30%;
          img {
            width: 130px;
          }
        }
        .product_name {
          font-size: 20px;
          width: 20%;
        }
        .product_price {
          font-size: 22px;
          width: 10%;
          color: green;
        }
        .details_section {
          .details,
          .update,
          .delete {
            background-color: blue;
            color: white;
            border: none;
            padding: 5px 10px;
            font-size: 16px;
            cursor: pointer;
            margin-left: 10px;
            &:hover {
              background-color: rgb(59, 59, 241);
            }
          }
          .update {
            background-color: orange;
            text-decoration: none;
            &:hover {
              background-color: rgb(248, 188, 76);
            }
          }
          .details {
            text-decoration: none;
          }
          .delete {
            background-color: red;
            &:hover {
              background-color: rgb(253, 62, 62);
            }
          }
        }
      }
      .delete_wrapper {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(7px);
        display: flex;
        justify-content: center;
        align-items: center;
        .delete {
          background-color: lightgray;
          padding: 20px;
          width: 600px;
          .delete_question {
            font-size: 20px;
            text-align: center;
            padding-bottom: 20px;
          }
          .delete_events {
            display: flex;
            justify-content: center;
            button {
              width: 80px;
              border: none;
              padding: 5px 10px;
              color: white;
              cursor: pointer;
            }
            .delete_cancel {
              background-color: orange;
              &:hover {
                background-color: rgb(252, 185, 62);
              }
            }
            .delete_ok {
              background-color: red;
              margin-left: 10px;
              &:hover {
                background-color: rgb(252, 49, 49);
              }
            }
          }
        }
      }
    }
    .create,
    .update {
      flex: 9;
      padding: 20px;
      .title {
        text-align: center;
        font-weight: 200;
        padding: 10px 0px;
      }
      div {
        label {
          padding: 10px;
        }
        input {
          width: 100%;
          border: none;
          border-bottom: 1px solid lightgray;
          font-size: 18px;
          padding: 10px;
          margin-bottom: 15px;
          &:focus {
            outline: none;
          }
        }
        textarea {
          width: 100%;
          border: none;
          border-bottom: 1px solid lightgray;
          font-size: 18px;
          font-family: "Poppins";
          padding: 10px;
          &:focus {
            outline: none;
          }
        }
      }
      .error {
        color: red;
        margin-bottom: 10px;
      }
      .button {
        button {
          border: none;
          padding: 7px 40px;
          font-size: 18px;
          background-color: green;
          color: white;
          cursor: pointer;
          &:hover {
            background-color: rgb(49, 160, 49);
          }
        }
        .update_btn {
          background-color: orange;
          &:hover {
            background-color: rgb(250, 183, 59);
          }
        }
      }
      .success_msg {
        color: green;
        font-weight: bold;
        padding: 20px 0px;
      }
      .update_msg {
        color: orange;
      }
    }
    .details_page {
      flex: 9;
      padding: 20px;
      display: flex;
      .details_image {
        width: 50%;
        img {
          width: 100%;
        }
      }
      .details_info {
        width: 50%;
        padding: 0px 20px;
        h2 {
          text-align: center;
          font-weight: 200;
        }
        .details_price,
        .details_ingredients,
        .details_description {
          font-size: 25px;
          display: flex;
          justify-content: space-between;
          margin-top: 30px;
          .details_text {
            text-align: justify;
            font-size: 18px;
            width: 50%;
          }
          .price {
            font-size: 25px;
          }
        }
      }
    }
    .users {
      flex: 9;
      padding: 20px;
      h2 {
        text-align: center;
        font-weight: 200;
        margin-bottom: 10px;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        tr {
          th {
            padding: 7px 0px;
            background-color: whitesmoke;
          }
          td {
            border-bottom: 1px solid lightgray;
            text-align: center;
            padding: 7px 0px;
          }
        }
      }
    }
  }
  .footer {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    span {
      color: crimson;
      text-indent: 7px;
      font-weight: bold;
    }
  }
}
