* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.App .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
  background-color: #e0e0e0;
}

.App .navbar .logo {
  font-size: 22px;
}

.App .navbar .logo .fas {
  margin-right: 5px;
}

.App .navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .navbar .menu .link {
  color: inherit;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}

.App .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 94vh;
}

.App .products .food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #e7e8f1;
}

.App .products .food img {
  width: 300px;
  height: 200px;
  border-radius: 7px;
}

.App .products .food .stars {
  padding: 5px 0px;
}

.App .products .food .stars i {
  color: yellow;
  font-size: 20px;
}

.App .products .food .food_name {
  font-weight: 200;
  text-align: center;
  padding: 10px 0px;
}

.App .products .food .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .products .food .event button {
  background-color: #0b0baa;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.App .products .food .event button:hover {
  background-color: #3333b1;
}

.App .products .food .event .food_price {
  font-size: 20px;
}

.App .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .cart .cart_items {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.App .cart .cart_items .cart_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}

.App .cart .cart_items .cart_item img {
  width: 200px;
}

.App .cart .cart_items .cart_item .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .cart .cart_items .cart_item .quantity i {
  cursor: pointer;
}

.App .cart .cart_items .cart_item .delete {
  background-color: red;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.App .cart .cart_items .cart_item .delete:hover {
  background-color: #db0909;
}

.App .cart .cart_total {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
/*# sourceMappingURL=App.css.map */