* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.App {
  .navbar {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7vh;
    background-color: beige;
    .logo {
      font-size: 22px;
      .fas {
        margin-right: 5px;
      }
    }
    .menu {
      display: flex;
      .link {
        color: inherit;
        text-decoration: none;
        margin-right: 15px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .fav_menu {
        position: relative;
        .favorite_quantity {
          position: absolute;
          right: -12px;
          top: -8px;
          background-color: green;
          color: white;
          font-size: 12px;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .cart_menu {
        position: relative;
        .total_quantity {
          position: absolute;
          right: -12px;
          top: -8px;
          background-color: crimson;
          color: white;
          font-size: 12px;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .nav_right {
      display: flex;
      align-items: center;
      .currentUser {
        background-color: rgb(76, 76, 230);
        border-radius: 50%;
        color: white;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-right: 15px;
        text-decoration: none;
        cursor: pointer;
      }
      .link {
        color: inherit;
        text-decoration: none;
        margin-right: 15px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .home {
    .header {
      height: 93vh;
      background: url(../image/pizza_header.jpg) no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      .header_text {
        margin-right: 30px;
        width: 40%;
        color: white;
        text-align: center;
        .header_title {
          font-size: 55px;
          font-family: "Nothing You Could Do", cursive;
        }
        .header_Second_title {
          font-size: 45px;
          font-family: "Nothing You Could Do", cursive;
        }
        .header_order,
        .header_number {
          font-size: 22px;
        }
        .social_media {
          position: absolute;
          bottom: 30px;
          right: 30px;
          i {
            font-size: 25px;
            margin-left: 10px;
            cursor: pointer;
            &:hover {
              color: white;
            }
          }
          .fa-instagram {
            color: #e95950;
          }
          .fa-facebook {
            color: #4267b2;
          }
          .fa-twitter {
            color: #1da1f2;
          }
          .fa-linkedin-in {
            color: #2867b2;
          }
          .fa-tiktok {
            color: #fe2c55;
          }
        }
      }
    }
    .products {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 93vh;
      background: url(../image/pizza_background.jpg) repeat;
      .products_header {
        margin: 20px 0px 10px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 85%;
        .products_title {
          font-weight: 200;
          background-color: brown;
          color: white;
          padding: 5px 10px;
          margin-bottom: 10px;
        }
        .sort_filter {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: brown;
          padding: 5px 30px;
          align-self: center;
          width: 100%;
          .search_filter {
            padding: 5px 10px;
            font-size: 18px;
            border: none;
            margin-right: 10px;
            &:focus {
              outline: none;
            }
          }
          .select_filter {
            font-size: 18px;
            border: none;
            margin-right: 10px;
            padding: 5px 10px;
            &:focus {
              outline: none;
            }
          }
          .checkbox_filter {
            margin-left: 5px;
            cursor: pointer;
            width: 20px;
            height: 20px;
          }
          .sort {
            padding: 5px 10px;
            font-size: 18px;
            border: none;
            margin-right: 10px;
            &:focus {
              outline: none;
            }
          }
          .checkbox {
            color: white;
          }
          .checkbox_filter {
             margin-right: 10px;
          }
        }
      }
      .products_wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        margin: 10px 0px;
        .food {
          display: flex;
          flex-direction: column;
          margin: 5px;
          padding: 10px;
          background-color: brown;
          color: white;
          img {
            width: 300px;
            height: 200px;
          }
          .stars {
            padding: 5px 0px;
            i {
              color: yellow;
              font-size: 20px;
            }
          }
          .food_name {
            font-weight: 200;
            text-align: center;
            padding: 10px 0px;
          }
          .event {
            display: flex;
            justify-content: space-between;
            i {
              border: none;
              margin-right: 20px;
              color: beige;
              cursor: pointer;
              font-size: 25px;
            }
            .fa-shopping-cart {
              &:hover {
                color: black;
              }
            }
            .fa-heart {
              color: rgb(57, 160, 57);
              &:hover {
                color: black;
              }
            }
            .fa-eye {
              color: black;
              &:hover {
                color: whitesmoke;
              }
            }
            .food_price {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .details_page {
    min-height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../image/pizza_background.jpg) repeat;
    .details_wrapp {
      width: 1000px;
      height: 80vh;
      background-color: rgba(232, 211, 185, 0.9);
      padding: 20px;
      display: flex;
      .details_img {
        width: 50%;
        img {
          width: 100%;
        }
      }
      .details_food_info {
        width: 50%;
        padding-left: 20px;
        .details_title {
          text-align: center;
          font-weight: 200;
        }
        div {
          margin-bottom: 20px;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid gray;
          :first-child {
            width: 20%;
          }
          .info {
            width: 60%;
            text-align: right;
            font-size: 18px;
          }
          .event {
            i {
              font-size: 30px;
              margin-left: 30px;
              cursor: pointer;
            }
            .fa-shopping-cart {
              color: brown;
            }
            .fa-heart {
              color: green;
            }
          }
        }
      }
    }
  }
  .about {
    min-height: 86vh;
    background: url(../image/pizza_background.jpg) repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    .about_container {
      padding: 20px;
      width: 900px;
      min-height: 80vh;
      background-color: rgba(232, 211, 185, 0.9);
      display: flex;
      .about_left {
        width: 50%;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          text-align: center;
          font-weight: 200;
        }
        .about_text_wrapper {
          p {
            text-indent: 20px;
            text-align: justify;
            margin-top: 20px;
          }
        }
      }
      .about_right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .contact_info {
          div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            span {
              i {
                font-size: 20px;
                color: brown;
              }
            }
          }
        }
        .map_wrapper {
          .map {
            width: 100%;
            height: 200px;
          }
        }
      }
    }
  }
  .cart {
    display: flex;
    min-height: 86vh;
    background: url(../image/pizza_background.jpg) repeat;
    .cart_items {
      flex: 9;
      padding: 10px;
      background-color: rgba(232, 211, 185, 0.9);
      margin: 20px;
      .cart_title {
        text-align: center;
        font-weight: 200;
      }
      .empty_cart {
        text-align: center;
        padding: 100px 0px;
        color: gray;
        i {
          font-size: 50px;
        }
        .empty_cart_text {
          font-size: 22px;
        }
      }
      .cart_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid gray;
        margin-bottom: 5px;
        .item_img {
          width: 200px;
        }
        .item_name {
          font-size: 20px;
          width: 20%;
        }
        .item_price {
          font-size: 22px;
          width: 10%;
        }
        .quantity {
          display: flex;
          flex-direction: column;
          align-items: center;
          i {
            cursor: pointer;
          }
        }
        .delete {
          background-color: crimson;
          border: none;
          padding: 5px 10px;
          color: white;
          cursor: pointer;
          &:hover {
            background-color: rgb(219, 9, 9);
          }
        }
      }
    }
    .cart_total {
      flex: 3;
      padding: 0px 10px;
      .total_info {
        background-color: brown;
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        .total_title {
          text-align: center;
          font-weight: 200;
          color: white;
        }
        .delete_all {
          align-self: flex-end;
          background-color: whitesmoke;
          font-size: 14px;
          padding: 5px;
          cursor: pointer;
          &:hover {
            background-color: white;
          }
        }
        .total_products {
          color: white;
          font-size: 18px;
          margin-top: 100px;
          span {
            font-size: 22px;
          }
        }
        .total_price {
          font-size: 18px;
          color: white;
          margin-bottom: 20px;
          span {
            font-size: 22px;
          }
        }
        .order_btn {
          width: 100%;
          font-size: 20px;
          padding: 5px;
          border: none;
          cursor: pointer;
          background-color: whitesmoke;
          color: inherit;
          text-decoration: none;
          &:hover {
            background-color: white;
          }
        }
      }
    }
  }
  .order {
    min-height: 86vh;
    background: url(../image/pizza_background.jpg) repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    .order_wrapper {
      width: 600px;
      min-height: 600px;
      background-color: rgba(232, 211, 185, 0.9);
      padding: 20px;
      .order_title,
      .order_no_logged {
        text-align: center;
        padding: 20px 0px;
        font-weight: 200;
      }
      .client_info {
        margin-bottom: 20px;
        div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;
        }
      }
      .ordered_products {
        div {
          margin-bottom: 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          img {
            width: 80px;
          }
        }
        .ordered_total_price {
          margin-top: 20px;
        }
      }
    }
  }
  .messages {
    min-height: 86vh;
    background: url(../image/pizza_background.jpg) repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    form {
      width: 600px;
      min-height: 500px;
      background-color: rgba(232, 211, 185, 0.9);
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        text-align: center;
        padding-bottom: 10px;
        font-weight: 200;
      }
      .message_content {
        .inputs {
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid brown;
            padding: 5px 0px;
            font-size: 16px;
            &:focus {
              outline: none;
            }
          }
          textarea {
            background-color: transparent;
            font-family: "Poppins";
            border: none;
            border-bottom: 1px solid rgb(5, 2, 2);
            padding: 5px 0px;
            font-size: 16px;
            &:focus {
              outline: none;
            }
          }
        }
        .error {
          color: red;
          font-size: 14px;
        }
        .btn {
          margin-top: 20px;
          button {
            width: 100%;
            padding: 7px 0px;
            font-size: 17px;
            border: none;
            background-color: brown;
            color: white;
            cursor: pointer;
            &:hover {
              background-color: rgb(168, 67, 67);
            }
          }
        }
        .error_message {
          color: red;
          text-align: center;
        }
        .success_message {
          text-align: center;
          color: green;
        }
      }
    }
  }
  .review {
    min-height: 86vh;
    background: url(../image/pizza_background.jpg) repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    .review_wrapper {
      background-color: rgba(232, 211, 185, 0.9);
      width: 1200px;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      .review_title {
        font-weight: 200;
        text-align: center;
        padding: 20px 0px;
        display: flex;
        align-items: center;
        .review_number {
          font-size: 17px;
          background-color: gray;
          color: white;
          padding: 0px 10px;
          border-radius: 20px;
          margin-left: 5px;
        }
      }
      .add_review_btn {
        padding: 5px 10px;
        border: none;
        background-color: gray;
        color: white;
        cursor: pointer;
        font-size: 16px;
        &:hover {
          background-color: rgb(165, 165, 165);
        }
      }
      .add_review {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        textarea {
          border: 1px solid gray;
          background-color: transparent;
          width: 350px;
          height: 50px;
          padding: 5px;
          font-size: 15px;
          &:focus {
            outline: none;
          }
        }
        button {
          width: 350px;
          border: none;
          padding: 5px 0px;
          background-color: gray;
          color: white;
          cursor: pointer;
          &:hover {
            background-color: rgb(165, 165, 165);
          }
        }
        .error {
          color: red;
        }
      }
      .rec-carousel-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .rec-carousel {
          .rec-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
            color: brown;
            background-color: transparent;
            border: none;
            font-size: 40px;
            outline: none;
            box-shadow: none;
            cursor: pointer;
            &:hover {
              background-color: rgb(235, 235, 199);
            }
          }
          .rec-slider-container {
            .rec-carousel-item {
              display: flex;
              align-items: center;
              .item {
                width: 350px;
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: brown;
                padding: 20px;
                color: white;
                .review_img {
                  height: 100px;
                  img {
                    width: 100px;
                    border-radius: 50%;
                  }
                }
                .review_msg {
                  height: 100px;
                }
                .review_name {
                  h3 {
                    font-weight: 200;
                  }
                }
                .review_date {
                  width: 100%;
                  text-align: right;
                  color: orange;
                }
              }
            }
          }
        }
        .rec-pagination {
          display: flex;
          align-items: center;
          .rec-dot {
            border: 1px solid brown;
            box-shadow: none;
            width: 12px;
            height: 12px;
          }
          .rec-dot_active {
            width: 14px;
            height: 14px;
            background-color: brown;
          }
        }
      }
    }
  }
  .favorite {
    min-height: 86vh;
    text-align: center;
    background: url(../image/pizza_background.jpg) repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .favorite_wrapper {
      background-color: rgba(232, 211, 185, 0.9);
      width: 1200px;
      height: 80vh;
      .favorite_title {
        font-weight: 200;
        padding: 20px 0px;
      }
      .rec-carousel-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 70px;
        .rec-carousel {
          border-radius: 15px;
          .rec-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
            color: brown;
            background-color: transparent;
            border: none;
            font-size: 40px;
            outline: none;
            box-shadow: none;
            cursor: pointer;
            &:hover {
              background-color: rgb(235, 235, 199);
            }
          }
          .rec-slider-container {
            .rec-carousel-item {
              display: flex;
              align-items: center;
              cursor: pointer;
              .item {
                width: 350px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                  width: 95%;
                  height: 200px;
                }
                .favorite_name {
                  font-size: 22px;
                }
                .favorite_price {
                  font-size: 30px;
                }
                .stars {
                  i {
                    color: goldenrod;
                    font-size: 20px;
                  }
                }
                .fav_events {
                  margin-top: 20px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: 100%;
                  padding: 0px 20px;
                  i {
                    margin: 0px 5px;
                    font-size: 30px;
                  }
                  .fa-shopping-cart {
                    color: brown;
                  }
                  .fa-eye {
                    color: olivedrab;
                  }
                  .fa-trash-alt {
                    color: black;
                    margin-left: 30px;
                    &:hover {
                      color: red;
                    }
                  }
                }
              }
            }
          }
        }
        .rec-pagination {
          display: flex;
          align-items: center;
          .rec-dot {
            border: 1px solid brown;
            box-shadow: none;
            width: 12px;
            height: 12px;
          }
          .rec-dot_active {
            width: 14px;
            height: 14px;
            background-color: brown;
          }
        }
      }
      .empty_favorite {
        margin-top: 100px;
        color: gray;
        .fa-heart {
          font-size: 50px;
        }
        div {
          font-size: 22px;
        }
      }
    }
  }
  .user {
    min-height: 86vh;
    background: url(../image/pizza_background.jpg) repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .user_container {
      width: 400px;
      min-height: 400px;
      background-color: rgba(232, 211, 185, 0.9);
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        text-align: center;
        padding: 10px 0px;
        font-weight: 200;
      }
      .user_content {
        .field {
          border-bottom: 1px solid gray;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          .button {
            width: 100%;
            font-size: 17px;
            border: none;
            background-color: orange;
            color: white;
            text-align: center;
            padding: 5px 0px;
            cursor: pointer;
            text-decoration: none;
            &:hover {
              background-color: rgb(245, 186, 78);
            }
          }
        }
        .btn_field {
          border-bottom: none;
        }
      }
    }
  }
  .user_update {
    min-height: 86vh;
    background: url(../image/pizza_background.jpg) repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      width: 400px;
      min-height: 400px;
      background-color: rgba(232, 211, 185, 0.9);
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        text-align: center;
        padding: 10px 0px;
        font-weight: 200;
      }
      .update_content {
        div {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid gray;
            font-size: 16px;
            &:focus {
              outline: none;
            }
          }
          button {
            border: none;
            padding: 5px 0px;
            background-color: orange;
            cursor: pointer;
            color: white;
            font-size: 17px;
          }
        }
        .error {
          color: red;
          margin-top: 0px;
        }
        .btn {
          border-bottom: none;
        }
        .success_message {
          text-align: center;
          color: green;
          margin-top: 0px;
        }
      }
    }
  }
  .login,
  .signup {
    min-height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../image/pizza_background.jpg) repeat;
    form {
      padding: 20px;
      width: 400px;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgba(232, 211, 185, 0.9);
      h2 {
        text-align: center;
        padding: 10px 0px;
        font-weight: 200;
        color: brown;
      }
      .login_content,
      .signup_content {
        display: flex;
        flex-direction: column;
        input {
          width: 100%;
          margin-top: 20px;
          padding: 10px 0px;
          border: none;
          border-bottom: 1px solid brown;
          font-size: 18px;
          background-color: transparent;
          &:focus {
            outline: none;
          }
        }
        .error {
          color: red;
          font-size: 14px;
        }
        .pass {
          position: relative;
          .far {
            position: absolute;
            top: 30px;
            right: 20px;
            font-size: 27px;
            color: gray;
            cursor: pointer;
          }
        }
        button {
          margin-top: 20px;
          font-size: 18px;
          padding: 10px 0px;
          border: none;
          cursor: pointer;
          background-color: brown;
          color: white;
          &:hover {
            background-color: rgb(167, 76, 76);
          }
        }
        .error_message {
          color: brown;
          text-align: center;
        }
        .success_message {
          color: green;
          text-align: center;
        }
      }
    }
  }
  .admin {
    display: flex;
    min-height: 86vh;
    .aside_menu {
      flex: 3;
      display: flex;
      flex-direction: column;
      background-color: beige;
      .link {
        color: inherit;
        text-align: center;
        text-decoration: none;
        border-bottom: 1px solid brown;
        padding: 15px 0px;
        margin: 0px 10px;
        font-size: 18px;
        &:hover {
          background-color: rgb(224, 224, 224);
        }
      }
    }
    .all_products {
      flex: 9;
      padding: 20px;
      .title {
        text-align: center;
        font-weight: 200;
        padding: 10px 0px;
      }
      .product {
        border-bottom: 1px solid lightgray;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .product_img {
          width: 30%;
          img {
            width: 130px;
          }
        }
        .product_name {
          font-size: 20px;
          width: 20%;
        }
        .product_price {
          font-size: 22px;
          width: 10%;
          color: green;
        }
        .details_section {
          .details,
          .update,
          .delete {
            background-color: blue;
            color: white;
            border: none;
            padding: 5px 10px;
            font-size: 16px;
            cursor: pointer;
            margin-left: 10px;
            &:hover {
              background-color: rgb(59, 59, 241);
            }
          }
          .update {
            background-color: orange;
            text-decoration: none;
            &:hover {
              background-color: rgb(248, 188, 76);
            }
          }
          .details {
            text-decoration: none;
          }
          .delete {
            background-color: red;
            &:hover {
              background-color: rgb(253, 62, 62);
            }
          }
        }
      }
      .delete_wrapper {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(7px);
        display: flex;
        justify-content: center;
        align-items: center;
        .delete {
          background-color: lightgray;
          padding: 20px;
          width: 600px;
          .delete_question {
            font-size: 20px;
            text-align: center;
            padding-bottom: 20px;
          }
          .delete_events {
            display: flex;
            justify-content: center;
            button {
              width: 80px;
              border: none;
              padding: 5px 10px;
              color: white;
              cursor: pointer;
            }
            .delete_cancel {
              background-color: orange;
              &:hover {
                background-color: rgb(252, 185, 62);
              }
            }
            .delete_ok {
              background-color: red;
              margin-left: 10px;
              &:hover {
                background-color: rgb(252, 49, 49);
              }
            }
          }
        }
      }
    }
    .create,
    .update {
      flex: 9;
      padding: 20px;
      .title {
        text-align: center;
        font-weight: 200;
        padding: 10px 0px;
      }
      div {
        label {
          padding: 10px;
        }
        input {
          width: 100%;
          border: none;
          border-bottom: 1px solid lightgray;
          font-size: 18px;
          padding: 10px;
          margin-bottom: 15px;
          &:focus {
            outline: none;
          }
        }
        textarea {
          width: 100%;
          border: none;
          border-bottom: 1px solid lightgray;
          font-size: 18px;
          font-family: "Poppins";
          padding: 10px;
          &:focus {
            outline: none;
          }
        }
      }
      .error {
        color: red;
        margin-bottom: 10px;
      }
      .button {
        button {
          border: none;
          padding: 7px 40px;
          font-size: 18px;
          background-color: green;
          color: white;
          cursor: pointer;
          &:hover {
            background-color: rgb(49, 160, 49);
          }
        }
        .update_btn {
          background-color: orange;
          &:hover {
            background-color: rgb(250, 183, 59);
          }
        }
      }
      .success_msg {
        color: green;
        font-weight: bold;
        padding: 20px 0px;
      }
      .update_msg {
        color: orange;
      }
    }
    .details_page_admin {
      flex: 9;
      padding: 20px;
      display: flex;
      .details_image {
        width: 50%;
        img {
          width: 100%;
        }
      }
      .details_info {
        width: 50%;
        padding: 0px 20px;
        h2 {
          text-align: center;
          font-weight: 200;
        }
        .details_price,
        .details_ingredients,
        .details_description {
          font-size: 25px;
          display: flex;
          justify-content: space-between;
          margin-top: 30px;
          .details_text {
            text-align: justify;
            font-size: 18px;
            width: 50%;
          }
          .price {
            font-size: 25px;
          }
        }
      }
    }
    .users {
      flex: 9;
      padding: 20px;
      h2 {
        text-align: center;
        font-weight: 200;
        margin-bottom: 10px;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        tr {
          th {
            padding: 7px 0px;
            background-color: whitesmoke;
          }
          td {
            border-bottom: 1px solid lightgray;
            text-align: center;
            padding: 7px 0px;
          }
        }
      }
    }
    .admin_messages {
      flex: 9;
      padding: 20px;
      h2 {
        text-align: center;
        font-weight: 200;
      }
      .admin_messages_content {
        .admin_no_messages {
          text-align: center;
          margin-top: 100px;
          font-size: 22px;
        }
        .admin_msg {
          background-color: whitesmoke;
          margin: 8px 0px;
          padding: 10px;
          .admin_wrapper {
            display: flex;
            .admin_msg_left,
            .admin_msg_right {
              width: 50%;
              padding: 5px;
              .admin_filed {
                div {
                  background-color: rgb(228, 228, 228);
                  padding: 5px;
                }
              }
              .message {
                div {
                  height: 91px;
                  overflow: hidden;
                }
              }
            }
          }
          .msg_footer {
            text-align: right;
            padding-top: 5px;
            .date {
              color: orange;
              margin-right: 15px;
            }
            button {
              background-color: red;
              color: white;
              padding: 3px 10px;
              border: none;
              cursor: pointer;
              &:hover {
                background-color: rgb(255, 53, 53);
              }
            }
          }
        }
      }
    }
    .ordered_products {
      flex: 9;
      padding: 20px;
      h2 {
        text-align: center;
        font-weight: 200;
      }
      .no_order {
        text-align: center;
        margin-top: 50px;
        font-size: 20px;
      }
      .ordered_item {
        border: 1px solid gray;
        padding: 10px 20px;
        margin-bottom: 10px;
        background-color: whitesmoke;
        .ordered_row {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid gray;
          margin-top: 5px;
          .row_item {
            span {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
  .footer {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    span {
      color: crimson;
      text-indent: 7px;
      font-weight: bold;
    }
  }
}
