* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.App .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
  background-color: #e0e0e0;
}

.App .navbar .logo {
  font-size: 22px;
}

.App .navbar .logo .fas {
  margin-right: 5px;
}

.App .navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .navbar .menu .link {
  color: inherit;
  text-decoration: none;
  margin-right: 15px;
  cursor: pointer;
}

.App .navbar .menu .cart {
  position: relative;
}

.App .navbar .menu .cart .total_quantity {
  position: absolute;
  right: -12px;
  top: -8px;
  background-color: crimson;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 86vh;
}

.App .products .products_wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 10px 0px;
}

.App .products .products_wrapper .food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #e7e8f1;
}

.App .products .products_wrapper .food img {
  width: 300px;
  height: 200px;
  border-radius: 7px;
}

.App .products .products_wrapper .food .stars {
  padding: 5px 0px;
}

.App .products .products_wrapper .food .stars i {
  color: yellow;
  font-size: 20px;
}

.App .products .products_wrapper .food .food_name {
  font-weight: 200;
  text-align: center;
  padding: 10px 0px;
}

.App .products .products_wrapper .food .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .products .products_wrapper .food .event button {
  background-color: #0b0baa;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.App .products .products_wrapper .food .event button:hover {
  background-color: #3333b1;
}

.App .products .products_wrapper .food .event .food_price {
  font-size: 20px;
}

.App .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .cart .cart_items {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  min-height: 86vh;
  padding: 10px;
}

.App .cart .cart_items .cart_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}

.App .cart .cart_items .cart_item .item_img {
  width: 200px;
}

.App .cart .cart_items .cart_item .item_name {
  font-size: 20px;
  width: 20%;
}

.App .cart .cart_items .cart_item .item_price {
  font-size: 22px;
  width: 10%;
}

.App .cart .cart_items .cart_item .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .cart .cart_items .cart_item .quantity i {
  cursor: pointer;
}

.App .cart .cart_items .cart_item .delete {
  background-color: crimson;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.App .cart .cart_items .cart_item .delete:hover {
  background-color: #db0909;
}

.App .cart .cart_total {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 0px 10px;
}

.App .cart .cart_total .total_title {
  text-align: center;
  font-weight: 200;
}

.App .cart .cart_total .total_info {
  background-color: crimson;
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .cart .cart_total .total_info .delete_all {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: whitesmoke;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
}

.App .cart .cart_total .total_info .delete_all:hover {
  background-color: white;
}

.App .cart .cart_total .total_info .total_products {
  color: white;
  font-size: 18px;
  margin-top: 100px;
}

.App .cart .cart_total .total_info .total_products span {
  font-size: 22px;
}

.App .cart .cart_total .total_info .total_price {
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

.App .cart .cart_total .total_info .total_price span {
  font-size: 22px;
}

.App .cart .cart_total .total_info .order_btn {
  width: 100%;
  font-size: 20px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.App .cart .cart_total .total_info .order_btn:hover {
  background-color: white;
}

.App .admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 86vh;
}

.App .admin .aside_menu {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
}

.App .admin .aside_menu .link {
  color: inherit;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid lightgray;
  padding: 15px 0px;
  font-size: 18px;
}

.App .admin .aside_menu .link:hover {
  background-color: #e0e0e0;
}

.App .admin .all_products {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  padding: 20px;
}

.App .admin .all_products .title {
  text-align: center;
  font-weight: 200;
  padding: 10px 0px;
}

.App .admin .all_products .product {
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .admin .all_products .product .product_img {
  width: 30%;
}

.App .admin .all_products .product .product_img img {
  width: 130px;
}

.App .admin .all_products .product .product_name {
  font-size: 20px;
  width: 20%;
}

.App .admin .all_products .product .product_price {
  font-size: 22px;
  width: 10%;
  color: green;
}

.App .admin .all_products .product .details_section .details,
.App .admin .all_products .product .details_section .update {
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.App .admin .all_products .product .details_section .details:hover,
.App .admin .all_products .product .details_section .update:hover {
  background-color: #3b3bf1;
}

.App .admin .all_products .product .details_section .update {
  background-color: orange;
  text-decoration: none;
}

.App .admin .all_products .product .details_section .update:hover {
  background-color: #f8bc4c;
}

.App .admin .create, .App .admin .update {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  padding: 20px;
}

.App .admin .create .title, .App .admin .update .title {
  text-align: center;
  font-weight: 200;
  padding: 10px 0px;
}

.App .admin .create div label, .App .admin .update div label {
  padding: 10px;
}

.App .admin .create div input, .App .admin .update div input {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 15px;
}

.App .admin .create div input:focus, .App .admin .update div input:focus {
  outline: none;
}

.App .admin .create .error, .App .admin .update .error {
  color: red;
  margin-bottom: 10px;
}

.App .admin .create .button button, .App .admin .update .button button {
  border: none;
  padding: 7px 40px;
  font-size: 18px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.App .admin .create .button button:hover, .App .admin .update .button button:hover {
  background-color: #31a031;
}

.App .admin .create .button .update_btn, .App .admin .update .button .update_btn {
  background-color: orange;
}

.App .admin .create .button .update_btn:hover, .App .admin .update .button .update_btn:hover {
  background-color: #fab73b;
}

.App .admin .create .success_msg, .App .admin .update .success_msg {
  color: green;
  font-weight: bold;
  padding: 20px 0px;
}

.App .admin .create .update_msg, .App .admin .update .update_msg {
  color: orange;
}

.App .footer {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e0e0e0;
}

.App .footer span {
  color: crimson;
  text-indent: 7px;
  font-weight: bold;
}
/*# sourceMappingURL=App.css.map */