* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.App .navbar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
  background-color: beige;
}

.App .navbar .logo {
  font-size: 22px;
}

.App .navbar .logo .fas {
  margin-right: 5px;
}

.App .navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .navbar .menu .link {
  color: inherit;
  text-decoration: none;
  margin-right: 15px;
  cursor: pointer;
}

.App .navbar .menu .link:hover {
  text-decoration: underline;
}

.App .navbar .menu .fav_menu {
  position: relative;
}

.App .navbar .menu .fav_menu .favorite_quantity {
  position: absolute;
  right: -12px;
  top: -8px;
  background-color: green;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .navbar .menu .cart_menu {
  position: relative;
}

.App .navbar .menu .cart_menu .total_quantity {
  position: absolute;
  right: -12px;
  top: -8px;
  background-color: crimson;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .navbar .nav_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .navbar .nav_right .currentUser {
  background-color: #4c4ce6;
  border-radius: 50%;
  color: white;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  margin-right: 15px;
  text-decoration: none;
  cursor: pointer;
}

.App .navbar .nav_right .link {
  color: inherit;
  text-decoration: none;
  margin-right: 15px;
  cursor: pointer;
}

.App .navbar .nav_right .link:hover {
  text-decoration: underline;
}

.App .home .header {
  height: 93vh;
  background: url(../image/pizza_header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.App .home .header .header_text {
  margin-right: 30px;
  width: 40%;
  color: white;
  text-align: center;
}

.App .home .header .header_text .header_title {
  font-size: 55px;
  font-family: "Nothing You Could Do", cursive;
}

.App .home .header .header_text .header_Second_title {
  font-size: 45px;
  font-family: "Nothing You Could Do", cursive;
}

.App .home .header .header_text .header_order,
.App .home .header .header_text .header_number {
  font-size: 22px;
}

.App .home .header .header_text .social_media {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.App .home .header .header_text .social_media i {
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.App .home .header .header_text .social_media i:hover {
  color: white;
}

.App .home .header .header_text .social_media .fa-instagram {
  color: #e95950;
}

.App .home .header .header_text .social_media .fa-facebook {
  color: #4267b2;
}

.App .home .header .header_text .social_media .fa-twitter {
  color: #1da1f2;
}

.App .home .header .header_text .social_media .fa-linkedin-in {
  color: #2867b2;
}

.App .home .header .header_text .social_media .fa-tiktok {
  color: #fe2c55;
}

.App .home .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 93vh;
  background: url(../image/pizza_background.jpg) repeat;
}

.App .home .products .products_title {
  font-weight: 200;
  background-color: brown;
  padding: 5px 20px;
  margin: 20px 0px 10px 0px;
  color: white;
}

.App .home .products .products_wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 10px 0px;
}

.App .home .products .products_wrapper .food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
  padding: 10px;
  background-color: brown;
  color: white;
}

.App .home .products .products_wrapper .food img {
  width: 300px;
  height: 200px;
}

.App .home .products .products_wrapper .food .stars {
  padding: 5px 0px;
}

.App .home .products .products_wrapper .food .stars i {
  color: yellow;
  font-size: 20px;
}

.App .home .products .products_wrapper .food .food_name {
  font-weight: 200;
  text-align: center;
  padding: 10px 0px;
}

.App .home .products .products_wrapper .food .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .home .products .products_wrapper .food .event i {
  border: none;
  margin-right: 20px;
  color: beige;
  cursor: pointer;
  font-size: 25px;
}

.App .home .products .products_wrapper .food .event .fa-shopping-cart:hover {
  color: black;
}

.App .home .products .products_wrapper .food .event .fa-heart {
  color: #39a039;
}

.App .home .products .products_wrapper .food .event .fa-heart:hover {
  color: black;
}

.App .home .products .products_wrapper .food .event .food_price {
  font-size: 20px;
}

.App .about {
  min-height: 86vh;
  background: url(../image/pizza_background.jpg) repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}

.App .about .about_container {
  padding: 20px;
  width: 900px;
  min-height: 80vh;
  background-color: rgba(232, 211, 185, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .about .about_container .about_left {
  width: 50%;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .about .about_container .about_left h2 {
  text-align: center;
  font-weight: 200;
}

.App .about .about_container .about_left .about_text_wrapper p {
  text-indent: 20px;
  text-align: justify;
  margin-top: 20px;
}

.App .about .about_container .about_right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .about .about_container .about_right .contact_info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.App .about .about_container .about_right .contact_info div span i {
  font-size: 20px;
  color: brown;
}

.App .about .about_container .about_right .map_wrapper .map {
  width: 100%;
  height: 200px;
}

.App .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 86vh;
  background: url(../image/pizza_background.jpg) repeat;
}

.App .cart .cart_items {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  padding: 10px;
  background-color: rgba(232, 211, 185, 0.9);
  margin: 20px;
}

.App .cart .cart_items .cart_title {
  text-align: center;
  font-weight: 200;
}

.App .cart .cart_items .empty_cart {
  text-align: center;
  padding: 100px 0px;
  color: gray;
}

.App .cart .cart_items .empty_cart i {
  font-size: 50px;
}

.App .cart .cart_items .empty_cart .empty_cart_text {
  font-size: 22px;
}

.App .cart .cart_items .cart_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}

.App .cart .cart_items .cart_item .item_img {
  width: 200px;
}

.App .cart .cart_items .cart_item .item_name {
  font-size: 20px;
  width: 20%;
}

.App .cart .cart_items .cart_item .item_price {
  font-size: 22px;
  width: 10%;
}

.App .cart .cart_items .cart_item .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .cart .cart_items .cart_item .quantity i {
  cursor: pointer;
}

.App .cart .cart_items .cart_item .delete {
  background-color: crimson;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.App .cart .cart_items .cart_item .delete:hover {
  background-color: #db0909;
}

.App .cart .cart_total {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 0px 10px;
}

.App .cart .cart_total .total_info {
  background-color: brown;
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.App .cart .cart_total .total_info .total_title {
  text-align: center;
  font-weight: 200;
  color: white;
}

.App .cart .cart_total .total_info .delete_all {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: whitesmoke;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
}

.App .cart .cart_total .total_info .delete_all:hover {
  background-color: white;
}

.App .cart .cart_total .total_info .total_products {
  color: white;
  font-size: 18px;
  margin-top: 100px;
}

.App .cart .cart_total .total_info .total_products span {
  font-size: 22px;
}

.App .cart .cart_total .total_info .total_price {
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

.App .cart .cart_total .total_info .total_price span {
  font-size: 22px;
}

.App .cart .cart_total .total_info .order_btn {
  width: 100%;
  font-size: 20px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.App .cart .cart_total .total_info .order_btn:hover {
  background-color: white;
}

.App .messages {
  min-height: 86vh;
  background: url(../image/pizza_background.jpg) repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}

.App .messages form {
  width: 600px;
  min-height: 500px;
  background-color: rgba(232, 211, 185, 0.9);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .messages form h2 {
  text-align: center;
  padding-bottom: 10px;
  font-weight: 200;
}

.App .messages form .message_content .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.App .messages form .message_content .inputs input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid brown;
  padding: 5px 0px;
  font-size: 16px;
}

.App .messages form .message_content .inputs input:focus {
  outline: none;
}

.App .messages form .message_content .inputs textarea {
  background-color: transparent;
  font-family: "Poppins";
  border: none;
  border-bottom: 1px solid #050202;
  padding: 5px 0px;
  font-size: 16px;
}

.App .messages form .message_content .inputs textarea:focus {
  outline: none;
}

.App .messages form .message_content .error {
  color: red;
  font-size: 14px;
}

.App .messages form .message_content .btn {
  margin-top: 20px;
}

.App .messages form .message_content .btn button {
  width: 100%;
  padding: 7px 0px;
  font-size: 17px;
  border: none;
  background-color: brown;
  color: white;
  cursor: pointer;
}

.App .messages form .message_content .btn button:hover {
  background-color: #a84343;
}

.App .messages form .message_content .error_message {
  color: red;
  text-align: center;
}

.App .messages form .message_content .success_message {
  text-align: center;
  color: green;
}

.App .review {
  min-height: 86vh;
  background: url(../image/pizza_background.jpg) repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}

.App .review .review_wrapper {
  background-color: rgba(232, 211, 185, 0.9);
  width: 1200px;
  height: 80vh;
}

.App .review .review_wrapper .review_title {
  font-weight: 200;
  text-align: center;
  padding: 20px 0px;
}

.App .review .review_wrapper .rec-carousel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

.App .review .review_wrapper .rec-carousel-wrapper .rec-carousel .rec-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  color: brown;
  background-color: transparent;
  border: none;
  font-size: 40px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.App .review .review_wrapper .rec-carousel-wrapper .rec-carousel .rec-arrow:hover {
  background-color: #ebebc7;
}

.App .review .review_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .review .review_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item .item {
  width: 350px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d19c9c;
  padding: 20px;
}

.App .review .review_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item .item .review_img {
  height: 100px;
}

.App .review .review_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item .item .review_img img {
  width: 100px;
  border-radius: 50%;
}

.App .review .review_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item .item .review_msg {
  height: 100px;
}

.App .review .review_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item .item .review_date {
  width: 100%;
  text-align: right;
}

.App .review .review_wrapper .rec-carousel-wrapper .rec-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .review .review_wrapper .rec-carousel-wrapper .rec-pagination .rec-dot {
  border: 1px solid brown;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 12px;
  height: 12px;
}

.App .review .review_wrapper .rec-carousel-wrapper .rec-pagination .rec-dot_active {
  width: 14px;
  height: 14px;
  background-color: brown;
}

.App .favorite {
  min-height: 86vh;
  text-align: center;
  background: url(../image/pizza_background.jpg) repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .favorite .favorite_wrapper {
  background-color: rgba(232, 211, 185, 0.9);
  width: 1200px;
  height: 80vh;
}

.App .favorite .favorite_wrapper .favorite_title {
  font-weight: 200;
  padding: 20px 0px;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-carousel {
  border-radius: 15px;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-carousel .rec-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  color: brown;
  background-color: transparent;
  border: none;
  font-size: 40px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-carousel .rec-arrow:hover {
  background-color: #ebebc7;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item .item {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item .item img {
  width: 95%;
  height: 200px;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item .item .favorite_name {
  font-size: 22px;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item .item .favorite_price {
  font-size: 30px;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item .item .stars i {
  color: goldenrod;
  font-size: 20px;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item .item .fav_events {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0px 20px;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item .item .fav_events i {
  margin: 0px 5px;
  font-size: 30px;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item .item .fav_events .fa-shopping-cart {
  color: brown;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item .item .fav_events .fa-eye {
  color: olivedrab;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item .item .fav_events .fa-trash-alt {
  color: black;
  margin-left: 30px;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item .item .fav_events .fa-trash-alt:hover {
  color: red;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-pagination .rec-dot {
  border: 1px solid brown;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 12px;
  height: 12px;
}

.App .favorite .favorite_wrapper .rec-carousel-wrapper .rec-pagination .rec-dot_active {
  width: 14px;
  height: 14px;
  background-color: brown;
}

.App .favorite .favorite_wrapper .empty_favorite {
  margin-top: 100px;
  color: gray;
}

.App .favorite .favorite_wrapper .empty_favorite .fa-heart {
  font-size: 50px;
}

.App .favorite .favorite_wrapper .empty_favorite div {
  font-size: 22px;
}

.App .user {
  min-height: 86vh;
  background: url(../image/pizza_background.jpg) repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .user .user_container {
  width: 400px;
  min-height: 400px;
  background-color: rgba(232, 211, 185, 0.9);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .user .user_container h2 {
  text-align: center;
  padding: 10px 0px;
  font-weight: 200;
}

.App .user .user_container .user_content .field {
  border-bottom: 1px solid gray;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .user .user_container .user_content .field .button {
  width: 100%;
  font-size: 17px;
  border: none;
  background-color: orange;
  color: white;
  text-align: center;
  padding: 5px 0px;
  cursor: pointer;
  text-decoration: none;
}

.App .user .user_container .user_content .field .button:hover {
  background-color: #f5ba4e;
}

.App .user .user_container .user_content .btn_field {
  border-bottom: none;
}

.App .user_update {
  min-height: 86vh;
  background: url(../image/pizza_background.jpg) repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .user_update form {
  width: 400px;
  min-height: 400px;
  background-color: rgba(232, 211, 185, 0.9);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .user_update form h2 {
  text-align: center;
  padding: 10px 0px;
  font-weight: 200;
}

.App .user_update form .update_content div {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .user_update form .update_content div input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 16px;
}

.App .user_update form .update_content div input:focus {
  outline: none;
}

.App .user_update form .update_content div button {
  border: none;
  padding: 5px 0px;
  background-color: orange;
  cursor: pointer;
  color: white;
  font-size: 17px;
}

.App .user_update form .update_content .error {
  color: red;
  margin-top: 0px;
}

.App .user_update form .update_content .btn {
  border-bottom: none;
}

.App .user_update form .update_content .success_message {
  text-align: center;
  color: green;
  margin-top: 0px;
}

.App .login,
.App .signup {
  min-height: 86vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../image/pizza_background.jpg) repeat;
}

.App .login form,
.App .signup form {
  padding: 20px;
  width: 400px;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(232, 211, 185, 0.9);
}

.App .login form h2,
.App .signup form h2 {
  text-align: center;
  padding: 10px 0px;
  font-weight: 200;
  color: brown;
}

.App .login form .login_content,
.App .login form .signup_content,
.App .signup form .login_content,
.App .signup form .signup_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .login form .login_content input,
.App .login form .signup_content input,
.App .signup form .login_content input,
.App .signup form .signup_content input {
  width: 100%;
  margin-top: 20px;
  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid brown;
  font-size: 18px;
  background-color: transparent;
}

.App .login form .login_content input:focus,
.App .login form .signup_content input:focus,
.App .signup form .login_content input:focus,
.App .signup form .signup_content input:focus {
  outline: none;
}

.App .login form .login_content .error,
.App .login form .signup_content .error,
.App .signup form .login_content .error,
.App .signup form .signup_content .error {
  color: red;
  font-size: 14px;
}

.App .login form .login_content .pass,
.App .login form .signup_content .pass,
.App .signup form .login_content .pass,
.App .signup form .signup_content .pass {
  position: relative;
}

.App .login form .login_content .pass .far,
.App .login form .signup_content .pass .far,
.App .signup form .login_content .pass .far,
.App .signup form .signup_content .pass .far {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 27px;
  color: gray;
  cursor: pointer;
}

.App .login form .login_content button,
.App .login form .signup_content button,
.App .signup form .login_content button,
.App .signup form .signup_content button {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 0px;
  border: none;
  cursor: pointer;
  background-color: brown;
  color: white;
}

.App .login form .login_content button:hover,
.App .login form .signup_content button:hover,
.App .signup form .login_content button:hover,
.App .signup form .signup_content button:hover {
  background-color: #a74c4c;
}

.App .login form .login_content .error_message,
.App .login form .signup_content .error_message,
.App .signup form .login_content .error_message,
.App .signup form .signup_content .error_message {
  color: brown;
  text-align: center;
}

.App .login form .login_content .success_message,
.App .login form .signup_content .success_message,
.App .signup form .login_content .success_message,
.App .signup form .signup_content .success_message {
  color: green;
  text-align: center;
}

.App .admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 86vh;
}

.App .admin .aside_menu {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
}

.App .admin .aside_menu .link {
  color: inherit;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid lightgray;
  padding: 15px 0px;
  font-size: 18px;
}

.App .admin .aside_menu .link:hover {
  background-color: #e0e0e0;
}

.App .admin .all_products {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  padding: 20px;
}

.App .admin .all_products .title {
  text-align: center;
  font-weight: 200;
  padding: 10px 0px;
}

.App .admin .all_products .product {
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .admin .all_products .product .product_img {
  width: 30%;
}

.App .admin .all_products .product .product_img img {
  width: 130px;
}

.App .admin .all_products .product .product_name {
  font-size: 20px;
  width: 20%;
}

.App .admin .all_products .product .product_price {
  font-size: 22px;
  width: 10%;
  color: green;
}

.App .admin .all_products .product .details_section .details,
.App .admin .all_products .product .details_section .update,
.App .admin .all_products .product .details_section .delete {
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.App .admin .all_products .product .details_section .details:hover,
.App .admin .all_products .product .details_section .update:hover,
.App .admin .all_products .product .details_section .delete:hover {
  background-color: #3b3bf1;
}

.App .admin .all_products .product .details_section .update {
  background-color: orange;
  text-decoration: none;
}

.App .admin .all_products .product .details_section .update:hover {
  background-color: #f8bc4c;
}

.App .admin .all_products .product .details_section .details {
  text-decoration: none;
}

.App .admin .all_products .product .details_section .delete {
  background-color: red;
}

.App .admin .all_products .product .details_section .delete:hover {
  background-color: #fd3e3e;
}

.App .admin .all_products .delete_wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .admin .all_products .delete_wrapper .delete {
  background-color: lightgray;
  padding: 20px;
  width: 600px;
}

.App .admin .all_products .delete_wrapper .delete .delete_question {
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.App .admin .all_products .delete_wrapper .delete .delete_events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .admin .all_products .delete_wrapper .delete .delete_events button {
  width: 80px;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.App .admin .all_products .delete_wrapper .delete .delete_events .delete_cancel {
  background-color: orange;
}

.App .admin .all_products .delete_wrapper .delete .delete_events .delete_cancel:hover {
  background-color: #fcb93e;
}

.App .admin .all_products .delete_wrapper .delete .delete_events .delete_ok {
  background-color: red;
  margin-left: 10px;
}

.App .admin .all_products .delete_wrapper .delete .delete_events .delete_ok:hover {
  background-color: #fc3131;
}

.App .admin .create,
.App .admin .update {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  padding: 20px;
}

.App .admin .create .title,
.App .admin .update .title {
  text-align: center;
  font-weight: 200;
  padding: 10px 0px;
}

.App .admin .create div label,
.App .admin .update div label {
  padding: 10px;
}

.App .admin .create div input,
.App .admin .update div input {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 15px;
}

.App .admin .create div input:focus,
.App .admin .update div input:focus {
  outline: none;
}

.App .admin .create div textarea,
.App .admin .update div textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: 18px;
  font-family: "Poppins";
  padding: 10px;
}

.App .admin .create div textarea:focus,
.App .admin .update div textarea:focus {
  outline: none;
}

.App .admin .create .error,
.App .admin .update .error {
  color: red;
  margin-bottom: 10px;
}

.App .admin .create .button button,
.App .admin .update .button button {
  border: none;
  padding: 7px 40px;
  font-size: 18px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.App .admin .create .button button:hover,
.App .admin .update .button button:hover {
  background-color: #31a031;
}

.App .admin .create .button .update_btn,
.App .admin .update .button .update_btn {
  background-color: orange;
}

.App .admin .create .button .update_btn:hover,
.App .admin .update .button .update_btn:hover {
  background-color: #fab73b;
}

.App .admin .create .success_msg,
.App .admin .update .success_msg {
  color: green;
  font-weight: bold;
  padding: 20px 0px;
}

.App .admin .create .update_msg,
.App .admin .update .update_msg {
  color: orange;
}

.App .admin .details_page {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .admin .details_page .details_image {
  width: 50%;
}

.App .admin .details_page .details_image img {
  width: 100%;
}

.App .admin .details_page .details_info {
  width: 50%;
  padding: 0px 20px;
}

.App .admin .details_page .details_info h2 {
  text-align: center;
  font-weight: 200;
}

.App .admin .details_page .details_info .details_price,
.App .admin .details_page .details_info .details_ingredients,
.App .admin .details_page .details_info .details_description {
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.App .admin .details_page .details_info .details_price .details_text,
.App .admin .details_page .details_info .details_ingredients .details_text,
.App .admin .details_page .details_info .details_description .details_text {
  text-align: justify;
  font-size: 18px;
  width: 50%;
}

.App .admin .details_page .details_info .details_price .price,
.App .admin .details_page .details_info .details_ingredients .price,
.App .admin .details_page .details_info .details_description .price {
  font-size: 25px;
}

.App .admin .users {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  padding: 20px;
}

.App .admin .users h2 {
  text-align: center;
  font-weight: 200;
  margin-bottom: 10px;
}

.App .admin .users table {
  width: 100%;
  border-collapse: collapse;
}

.App .admin .users table tr th {
  padding: 7px 0px;
  background-color: whitesmoke;
}

.App .admin .users table tr td {
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding: 7px 0px;
}

.App .admin .admin_messages {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  padding: 20px;
}

.App .admin .admin_messages h2 {
  text-align: center;
  font-weight: 200;
}

.App .admin .admin_messages .admin_messages_content .admin_no_messages {
  text-align: center;
  margin-top: 100px;
  font-size: 22px;
}

.App .admin .admin_messages .admin_messages_content .admin_msg {
  background-color: whitesmoke;
  margin: 8px 0px;
  padding: 10px;
}

.App .admin .admin_messages .admin_messages_content .admin_msg .admin_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .admin .admin_messages .admin_messages_content .admin_msg .admin_wrapper .admin_msg_left,
.App .admin .admin_messages .admin_messages_content .admin_msg .admin_wrapper .admin_msg_right {
  width: 50%;
  padding: 5px;
}

.App .admin .admin_messages .admin_messages_content .admin_msg .admin_wrapper .admin_msg_left .admin_filed div,
.App .admin .admin_messages .admin_messages_content .admin_msg .admin_wrapper .admin_msg_right .admin_filed div {
  background-color: #e4e4e4;
  padding: 5px;
}

.App .admin .admin_messages .admin_messages_content .admin_msg .admin_wrapper .admin_msg_left .message div,
.App .admin .admin_messages .admin_messages_content .admin_msg .admin_wrapper .admin_msg_right .message div {
  height: 91px;
  overflow: hidden;
}

.App .admin .admin_messages .admin_messages_content .admin_msg .msg_footer {
  text-align: right;
  padding-top: 5px;
}

.App .admin .admin_messages .admin_messages_content .admin_msg .msg_footer .date {
  color: orange;
  margin-right: 15px;
}

.App .admin .admin_messages .admin_messages_content .admin_msg .msg_footer button {
  background-color: red;
  color: white;
  padding: 3px 10px;
  border: none;
  cursor: pointer;
}

.App .admin .admin_messages .admin_messages_content .admin_msg .msg_footer button:hover {
  background-color: #ff3535;
}

.App .footer {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: beige;
}

.App .footer span {
  color: crimson;
  text-indent: 7px;
  font-weight: bold;
}
/*# sourceMappingURL=App.css.map */